h1 {
  padding-top: 20px;
  text-align: center;
}
p {
  margin-left: 10px;
}

.accordion {
  width: 80%;
  margin: 40px auto;
}
.accordion-body {
  color: white;
}
.accordion-button {
  color: white !important;
}
.accordion-button:focus {
  border-color: #ffc107 !important;
  box-shadow: 0 0 0 0.25rem #ffc107 !important;
}

.btn {
  color: white !important;
  margin: 5px;
}
@media screen and (min-width: 700px) {
  #buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
  }
}

@media screen and (max-width: 700px) {
  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
  }
  #buttons button {
    margin-top: 10px;
  }
}

.card {
  width: 80%;
  margin: auto;
}
.card-header {
  background-color: #ffc107 !important;
}

.home-btn {
  height: 100px;
  width: 200px;
}
.navbar,
.custom-bg {
  background: linear-gradient(
    120deg,
    rgba(226, 155, 30, 1) 0%,
    rgba(226, 155, 30, 1) 16%,
    rgba(255, 193, 7, 1) 50%,
    rgba(255, 222, 1, 1) 95%
  ) !important;
}
.nav-link {
  color: white !important;
}
.active > .page-link,
.page-link.active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}
.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25) !important;
}
#random-button,
#start-game-button {
  display: flex;
  justify-content: center;
}
.active > .selected-blague-nav,
.selected-blague-nav.active {
  color: #e29b1e !important;
}
.vdm {
  background-color: #e29b1e;
  border-radius: 0.375rem;
  width: 80%;
  margin: 5px auto 20px auto;
  padding: 5px;
  color: white !important;
}
div[class^="wordleLine-"] {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.wordleLines {
  display: flex;
  justify-content: center;
}
input[class^="wordleLetter-"],
input[class*="wordleLetter-"] {
  width: 3em !important;
}
